html,body{
	margin: 0;
	padding: 0;

}

h1{
	text-align: center;
}

h2{
	padding: 15px;
	color: grey;
}
#jeux{
	display: flex;
	justify-content: center;
}
#jeux a{
	margin: 5px;
}



footer{
	background-color:#ccc;
	position:absolute;
	bottom:0;
	width:100%;
	text-align: center;
}